<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
    <add key="DefaultPushSource" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_Components_R_Pkgs/nuget/index.json" />
  </config>
  <packageSourceCredentials>
    <MRS_Build>
      <add key="Username" value="PackagePublishToken" />
      <add key="ClearTextPassword" value="jnv3kihurkmxad33itbzgkeq6bocqtodhmpuq4pcpnnuki3vmwoq" />
    </MRS_Build>
    <MRS_Vendor>
      <add key="Username" value="PackagePublishToken" />
      <add key="ClearTextPassword" value="jnv3kihurkmxad33itbzgkeq6bocqtodhmpuq4pcpnnuki3vmwoq" />
    </MRS_Vendor>
    <MRS_External>
      <add key="Username" value="PackagePublishToken" />
      <add key="ClearTextPassword" value="jnv3kihurkmxad33itbzgkeq6bocqtodhmpuq4pcpnnuki3vmwoq" />
    </MRS_External>
    <MRS_Components_MRO>
      <add key="Username" value="PackagePublishToken" />
      <add key="ClearTextPassword" value="jnv3kihurkmxad33itbzgkeq6bocqtodhmpuq4pcpnnuki3vmwoq" />
    </MRS_Components_MRO>
    <MRS_Components_R_Pkgs>
      <add key="Username" value="PackagePublishToken" />
      <add key="ClearTextPassword" value="jnv3kihurkmxad33itbzgkeq6bocqtodhmpuq4pcpnnuki3vmwoq" />
    </MRS_Components_R_Pkgs>
  </packageSourceCredentials>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MRS_Build" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_Build/nuget/index.json" />
    <add key="MRS_Vendor" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_Vendor/nuget/index.json" />
    <add key="MRS_External" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_External/nuget/index.json" />
    <add key="MRS_Components_MRO" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_Components_MRO/nuget/index.json" />
    <add key="MRS_Components_R_Pkgs" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_Components_R_Pkgs/nuget/index.json" />
  </packageSources>
</configuration>
