export("?")
export("print.help_files_with_topic")
export("revoPlot")
export("revoSource")
export("revoTry")
export("quit")
export("q")
export("timestamp")
export("xpred.rpart")
S3method("xpred.rpart", "default")
S3method("xpred.rpart", "rxDTree")
S3method("revoPlot", "default")
S3method("revoPlot", "data.frame")
S3method("revoPlot", "matrix")
S3method("revoPlot", "ts")

